<h1>Write a Post!</h1>
<%= form_for @post, url: post_path do |f| %>
  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %>
  
  <%= f.label :body, "Content:" %>
  <%= f.text_area :body %>

  <%= f.submit "Submit post!" %>
<% end %>
