<% provide(:title, "New Post") %>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@post.errors.count, "error") %>.
    </div>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @post, url: post_path do |f| %>
  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %>
  
  <%= f.label :body, "Content:" %>
  <%= f.text_area :body %>

  <%= f.submit "Submit post!" %>
<% end %>
